@use "../../duomo" as *;
@use "../../duomo/tailwind" as *;
@use "vars" as *;

.css-search-bar-input {
	font: rem(20) / 1 tw(sans);
	color: tw(cool-gray, 800);
	&:focus {
		outline: none;
	}
}

.css-search-bar-svg {
	color: tw(cool-gray, 800);
	transition: $leave-ms /* TODO: Add property */ tw(ease, out);
	.css-search-bar:focus-within & {
		color: tw(blue, 600);
		transition: $enter-ms /* TODO: Add property */ tw(ease, out);
	}
}
