.foo {
  color: x1;
  background-color: y1;
  box-shadow: z1;
  transition: 500ms color cubic-bezier(0, 0, 0.2, 1), 500ms background-color cubic-bezier(0, 0, 0.2, 1), 500ms box-shadow cubic-bezier(0, 0, 0.2, 1);
}
:root[data-theme=dark] .foo {
  color: x2;
  background-color: y2;
  box-shadow: z2;
}
:root:not([data-theme-effect]) .foo {
  transition: 100s color ease-out;
}
