@use "sass:math";
@use "sass:meta";

@function rem($any) {
	@if not(meta.type-of($any) == number and math.is-unitless($any)) {
		@return $any; // Passthrough
	}
	$num: $any;
	@if $num == 0 {
		@return 0;
	}
	@return $num / 16 + rem;
}

@function -untyped($args...) {
	@each $arg in $args {
		@if meta.type-of($arg) == number and
				math.is-unitless($arg) {
			@return true;
		}
	}
	@return false;
}

@mixin margin-x($arg1, $arg2: null) {
	@if -untyped($arg1, $arg2) {
		@error "margin-x(#{$arg1}#{if($arg2 == null, "", ", #{$arg2}")}): " +
			"Numbers must be of type rem, em, px, etc.";
	}
	margin-left: $arg1;
	margin-right: if($arg2 == null, $arg1, $arg2);
}

.foo {
	@include margin-x(1rem, 1rem);
}
