@use "mixins";

$-hide-opts: (
	null: revert,
	flex-row: flex,
	flex-col: flex,
	grid: grid,
);

// Add [class] to make API order-independent
@mixin hide($variants...) {
	@each $k, $v in $-hide-opts {
		.show#{if(not $k, [class], "." + $k)} {
			@include mixins.variants($variants...) {
				display: $v;
			}
		}
	}

	.hide[class] {
		@include mixins.variants($variants...) {
			display: none;
		}
	}
}
