@use "sass:list";
@use "sass:selector";

// .foo {
//   @include color(#000, #fff);
//   @include background-color(#fff, #000);
// }
//
@mixin -theme-property($property, $light, $dark) {
	#{$property}: #{$light};
	@if selector.is-superselector(":root", &) {
		// Escape the & context
    @at-root {
      :root[data-theme="dark"] {
        #{$property}: #{$dark};
      }
    }
	} @else {
		:root[data-theme="dark"] & {
			#{$property}: #{$dark};
		}
	}
}

@mixin background-color($light, $dark) {
	@include -theme-property("background-color", $light, $dark);
}
@mixin border-color($light, $dark) {
	@include -theme-property("border-color", $light, $dark);
}
@mixin box-shadow($light, $dark) {
	@include -theme-property("box-shadow", $light, $dark);
}
@mixin color($light, $dark) {
	@include -theme-property("color", $light, $dark);
}
@mixin fill($light, $dark) {
	@include -theme-property("fill", $light, $dark);
}
@mixin opacity($light, $dark) {
	@include -theme-property("opacity", $light, $dark);
}
@mixin stroke($light, $dark) {
	@include -theme-property("stroke", $light, $dark);
}

@mixin size($v) {
	width:  $v;
	height: $v;
}

@mixin zero-out($inset: 0) {
	position: absolute;
	top:    $inset;
	right:  $inset;
	bottom: $inset;
	left:   $inset;
	@content;
}
