@use "sass:color";
@use "sass:map";

$delimiter: ":" !default;

$nrange: (
				// <- Decrement by 2
		-1, // Add 1
		-2,
		-4,
		-6,
		-8,
	 -10,
	 -12,
	 -14,
	 -16,
	 -18,
	 -20, // <- Decrement by 4
	 -24,
	 -28,
	 -32,
	 -36,
	 -40, // <- Decrement by 8
	 -48,
	 -56,
	 -64,
	 -72,
	 -80, // <- Decrement by 16
	 -96,
	-112,
	-128,
	-144,
	-160, // <- Decrement by 32
	-192,
	-224,
	-256,
	-288,
	-320, // <- Decrement by 64
	-384,
	-448,
	-512,
	-576,
	-640,
) !default;

$range: (
		0, // <- Increment by 2
		1, // Add 1
		2,
		4,
		6,
		8,
	 10,
	 12,
	 14,
	 16,
	 18,
	 20, // <- Increment by 4
	 24,
	 28,
	 32,
	 36,
	 40, // <- Increment by 8
	 48,
	 56,
	 64,
	 72,
	 80, // <- Increment by 16
	 96,
	112,
	128,
	144,
	160, // <- Increment by 32
	192,
	224,
	256,
	288,
	320, // <- Increment by 64
	384,
	448,
	512,
	576,
	640,
) !default;

$roses: (
	50:  #fff1f2,
	100: #ffe4e6,
	200: #fecdd3,
	300: #fda4af,
	400: #fb7185,
	500: #f43f5e,
	600: #e11d48,
	700: #be123c,
	800: #9f1239,
	900: #881337,
	950: color.mix(#881337, #000),
) !default;

$pinks: (
	50:  #fdf2f8,
	100: #fce7f3,
	200: #fbcfe8,
	300: #f9a8d4,
	400: #f472b6,
	500: #ec4899,
	600: #db2777,
	700: #be185d,
	800: #9d174d,
	900: #831843,
	950: color.mix(#831843, #000),
) !default;

$fuchsias: (
	50:  #fdf4ff,
	100: #fae8ff,
	200: #f5d0fe,
	300: #f0abfc,
	400: #e879f9,
	500: #d946ef,
	600: #c026d3,
	700: #a21caf,
	800: #86198f,
	900: #701a75,
	950: color.mix(#701a75, #000),
) !default;

$purples: (
	50:  #faf5ff,
	100: #f3e8ff,
	200: #e9d5ff,
	300: #d8b4fe,
	400: #c084fc,
	500: #a855f7,
	600: #9333ea,
	700: #7e22ce,
	800: #6b21a8,
	900: #581c87,
	950: color.mix(#581c87, #000),
) !default;

$violets: (
	50:  #f5f3ff,
	100: #ede9fe,
	200: #ddd6fe,
	300: #c4b5fd,
	400: #a78bfa,
	500: #8b5cf6,
	600: #7c3aed,
	700: #6d28d9,
	800: #5b21b6,
	900: #4c1d95,
	950: color.mix(#4c1d95, #000),
) !default;

$indigos: (
	50:  #eef2ff,
	100: #e0e7ff,
	200: #c7d2fe,
	300: #a5b4fc,
	400: #818cf8,
	500: #6366f1,
	600: #4f46e5,
	700: #4338ca,
	800: #3730a3,
	900: #312e81,
	950: color.mix(#312e81, #000),
) !default;

$blues: (
	50:  #eff6ff,
	100: #dbeafe,
	200: #bfdbfe,
	300: #93c5fd,
	400: #60a5fa,
	500: #3b82f6,
	600: #2563eb,
	700: #1d4ed8,
	800: #1e40af,
	900: #1e3a8a,
	950: color.mix(#1e3a8a, #000),
) !default;

$light-blues: (
	50:  #f0f9ff,
	100: #e0f2fe,
	200: #bae6fd,
	300: #7dd3fc,
	400: #38bdf8,
	500: #0ea5e9,
	600: #0284c7,
	700: #0369a1,
	800: #075985,
	900: #0c4a6e,
	950: color.mix(#0c4a6e, #000),
) !default;

$cyans: (
	50:  #ecfeff,
	100: #cffafe,
	200: #a5f3fc,
	300: #67e8f9,
	400: #22d3ee,
	500: #06b6d4,
	600: #0891b2,
	700: #0e7490,
	800: #155e75,
	900: #164e63,
	950: color.mix(#164e63, #000),
) !default;

$teals: (
	50:  #f0fdfa,
	100: #ccfbf1,
	200: #99f6e4,
	300: #5eead4,
	400: #2dd4bf,
	500: #14b8a6,
	600: #0d9488,
	700: #0f766e,
	800: #115e59,
	900: #134e4a,
	950: color.mix(#134e4a, #000),
) !default;

$emeralds: (
	50:  #ecfdf5,
	100: #d1fae5,
	200: #a7f3d0,
	300: #6ee7b7,
	400: #34d399,
	500: #10b981,
	600: #059669,
	700: #047857,
	800: #065f46,
	900: #064e3b,
	950: color.mix(#064e3b, #000),
) !default;

$greens: (
	50:  #f0fdf4,
	100: #dcfce7,
	200: #bbf7d0,
	300: #86efac,
	400: #4ade80,
	500: #22c55e,
	600: #16a34a,
	700: #15803d,
	800: #166534,
	900: #14532d,
	950: color.mix(#14532d, #000),
) !default;

$limes: (
	50:  #f7fee7,
	100: #ecfccb,
	200: #d9f99d,
	300: #bef264,
	400: #a3e635,
	500: #84cc16,
	600: #65a30d,
	700: #4d7c0f,
	800: #3f6212,
	900: #365314,
	950: color.mix(#365314, #000),
) !default;

$yellows: (
	50:  #fefce8,
	100: #fef9c3,
	200: #fef08a,
	300: #fde047,
	400: #facc15,
	500: #eab308,
	600: #ca8a04,
	700: #a16207,
	800: #854d0e,
	900: #713f12,
	950: color.mix(#713f12, #000),
) !default;

$ambers: (
	50:  #fffbeb,
	100: #fef3c7,
	200: #fde68a,
	300: #fcd34d,
	400: #fbbf24,
	500: #f59e0b,
	600: #d97706,
	700: #b45309,
	800: #92400e,
	900: #78350f,
	950: color.mix(#78350f, #000),
) !default;

$oranges: (
	50:  #fff7ed,
	100: #ffedd5,
	200: #fed7aa,
	300: #fdba74,
	400: #fb923c,
	500: #f97316,
	600: #ea580c,
	700: #c2410c,
	800: #9a3412,
	900: #7c2d12,
	950: color.mix(#7c2d12, #000),
) !default;

$reds: (
	50:  #fef2f2,
	100: #fee2e2,
	200: #fecaca,
	300: #fca5a5,
	400: #f87171,
	500: #ef4444,
	600: #dc2626,
	700: #b91c1c,
	800: #991b1b,
	900: #7f1d1d,
	950: color.mix(#7f1d1d, #000),
) !default;

$warm-grays: (
	50:  #fafaf9,
	100: #f5f5f4,
	200: #e7e5e4,
	300: #d6d3d1,
	400: #a8a29e,
	500: #78716c,
	600: #57534e,
	700: #44403c,
	800: #292524,
	900: #1c1917,
	950: color.mix(#1c1917, #000),
) !default;

$true-grays: (
	50:  #fafafa,
	100: #f5f5f5,
	200: #e5e5e5,
	300: #d4d4d4,
	400: #a3a3a3,
	500: #737373,
	600: #525252,
	700: #404040,
	800: #262626,
	900: #171717,
	950: color.mix(#171717, #000),
) !default;

$grays: (
	50:  #fafafa,
	100: #f4f4f5,
	200: #e4e4e7,
	300: #d4d4d8,
	400: #a1a1aa,
	500: #71717a,
	600: #52525b,
	700: #3f3f46,
	800: #27272a,
	900: #18181b,
	950: color.mix(#18181b, #000),
) !default;

$cool-grays: (
	50:  #f9fafb,
	100: #f3f4f6,
	200: #e5e7eb,
	300: #d1d5db,
	400: #9ca3af,
	500: #6b7280,
	600: #4b5563,
	700: #374151,
	800: #1f2937,
	900: #111827,
	950: color.mix(#111827, #000),
) !default;

$blue-grays: (
	50:  #f8fafc,
	100: #f1f5f9,
	200: #e2e8f0,
	300: #cbd5e1,
	400: #94a3b8,
	500: #64748b,
	600: #475569,
	700: #334155,
	800: #1e293b,
	900: #0f172a,
	950: color.mix(#0f172a, #000),
) !default;

$transparent:    transparent                !default;
$current:        currentColor               !default;
$black:          #000                       !default;
$white:          #fff                       !default;
$rose-50:        map.get($roses, 50)        !default;
$rose-100:       map.get($roses, 100)       !default;
$rose-200:       map.get($roses, 200)       !default;
$rose-300:       map.get($roses, 300)       !default;
$rose-400:       map.get($roses, 400)       !default;
$rose-500:       map.get($roses, 500)       !default;
$rose-600:       map.get($roses, 600)       !default;
$rose-700:       map.get($roses, 700)       !default;
$rose-800:       map.get($roses, 800)       !default;
$rose-900:       map.get($roses, 900)       !default;
$rose-950:       map.get($roses, 950)       !default;
$pink-50:        map.get($pinks, 50)        !default;
$pink-100:       map.get($pinks, 100)       !default;
$pink-200:       map.get($pinks, 200)       !default;
$pink-300:       map.get($pinks, 300)       !default;
$pink-400:       map.get($pinks, 400)       !default;
$pink-500:       map.get($pinks, 500)       !default;
$pink-600:       map.get($pinks, 600)       !default;
$pink-700:       map.get($pinks, 700)       !default;
$pink-800:       map.get($pinks, 800)       !default;
$pink-900:       map.get($pinks, 900)       !default;
$pink-950:       map.get($pinks, 950)       !default;
$fuchsia-50:     map.get($fuchsias, 50)     !default;
$fuchsia-100:    map.get($fuchsias, 100)    !default;
$fuchsia-200:    map.get($fuchsias, 200)    !default;
$fuchsia-300:    map.get($fuchsias, 300)    !default;
$fuchsia-400:    map.get($fuchsias, 400)    !default;
$fuchsia-500:    map.get($fuchsias, 500)    !default;
$fuchsia-600:    map.get($fuchsias, 600)    !default;
$fuchsia-700:    map.get($fuchsias, 700)    !default;
$fuchsia-800:    map.get($fuchsias, 800)    !default;
$fuchsia-900:    map.get($fuchsias, 900)    !default;
$fuchsia-950:    map.get($fuchsias, 950)    !default;
$purple-50:      map.get($purples, 50)      !default;
$purple-100:     map.get($purples, 100)     !default;
$purple-200:     map.get($purples, 200)     !default;
$purple-300:     map.get($purples, 300)     !default;
$purple-400:     map.get($purples, 400)     !default;
$purple-500:     map.get($purples, 500)     !default;
$purple-600:     map.get($purples, 600)     !default;
$purple-700:     map.get($purples, 700)     !default;
$purple-800:     map.get($purples, 800)     !default;
$purple-900:     map.get($purples, 900)     !default;
$purple-950:     map.get($purples, 950)     !default;
$violet-50:      map.get($violets, 50)      !default;
$violet-100:     map.get($violets, 100)     !default;
$violet-200:     map.get($violets, 200)     !default;
$violet-300:     map.get($violets, 300)     !default;
$violet-400:     map.get($violets, 400)     !default;
$violet-500:     map.get($violets, 500)     !default;
$violet-600:     map.get($violets, 600)     !default;
$violet-700:     map.get($violets, 700)     !default;
$violet-800:     map.get($violets, 800)     !default;
$violet-900:     map.get($violets, 900)     !default;
$violet-950:     map.get($violets, 950)     !default;
$indigo-50:      map.get($indigos, 50)      !default;
$indigo-100:     map.get($indigos, 100)     !default;
$indigo-200:     map.get($indigos, 200)     !default;
$indigo-300:     map.get($indigos, 300)     !default;
$indigo-400:     map.get($indigos, 400)     !default;
$indigo-500:     map.get($indigos, 500)     !default;
$indigo-600:     map.get($indigos, 600)     !default;
$indigo-700:     map.get($indigos, 700)     !default;
$indigo-800:     map.get($indigos, 800)     !default;
$indigo-900:     map.get($indigos, 900)     !default;
$indigo-950:     map.get($indigos, 950)     !default;
$blue-50:        map.get($blues, 50)        !default;
$blue-100:       map.get($blues, 100)       !default;
$blue-200:       map.get($blues, 200)       !default;
$blue-300:       map.get($blues, 300)       !default;
$blue-400:       map.get($blues, 400)       !default;
$blue-500:       map.get($blues, 500)       !default;
$blue-600:       map.get($blues, 600)       !default;
$blue-700:       map.get($blues, 700)       !default;
$blue-800:       map.get($blues, 800)       !default;
$blue-900:       map.get($blues, 900)       !default;
$blue-950:       map.get($blues, 950)       !default;
$light-blue-50:  map.get($light-blues, 50)  !default;
$light-blue-100: map.get($light-blues, 100) !default;
$light-blue-200: map.get($light-blues, 200) !default;
$light-blue-300: map.get($light-blues, 300) !default;
$light-blue-400: map.get($light-blues, 400) !default;
$light-blue-500: map.get($light-blues, 500) !default;
$light-blue-600: map.get($light-blues, 600) !default;
$light-blue-700: map.get($light-blues, 700) !default;
$light-blue-800: map.get($light-blues, 800) !default;
$light-blue-900: map.get($light-blues, 900) !default;
$light-blue-950: map.get($light-blues, 950) !default;
$cyan-50:        map.get($cyans, 50)        !default;
$cyan-100:       map.get($cyans, 100)       !default;
$cyan-200:       map.get($cyans, 200)       !default;
$cyan-300:       map.get($cyans, 300)       !default;
$cyan-400:       map.get($cyans, 400)       !default;
$cyan-500:       map.get($cyans, 500)       !default;
$cyan-600:       map.get($cyans, 600)       !default;
$cyan-700:       map.get($cyans, 700)       !default;
$cyan-800:       map.get($cyans, 800)       !default;
$cyan-900:       map.get($cyans, 900)       !default;
$cyan-950:       map.get($cyans, 950)       !default;
$teal-50:        map.get($teals, 50)        !default;
$teal-100:       map.get($teals, 100)       !default;
$teal-200:       map.get($teals, 200)       !default;
$teal-300:       map.get($teals, 300)       !default;
$teal-400:       map.get($teals, 400)       !default;
$teal-500:       map.get($teals, 500)       !default;
$teal-600:       map.get($teals, 600)       !default;
$teal-700:       map.get($teals, 700)       !default;
$teal-800:       map.get($teals, 800)       !default;
$teal-900:       map.get($teals, 900)       !default;
$teal-950:       map.get($teals, 950)       !default;
$emerald-50:     map.get($emeralds, 50)     !default;
$emerald-100:    map.get($emeralds, 100)    !default;
$emerald-200:    map.get($emeralds, 200)    !default;
$emerald-300:    map.get($emeralds, 300)    !default;
$emerald-400:    map.get($emeralds, 400)    !default;
$emerald-500:    map.get($emeralds, 500)    !default;
$emerald-600:    map.get($emeralds, 600)    !default;
$emerald-700:    map.get($emeralds, 700)    !default;
$emerald-800:    map.get($emeralds, 800)    !default;
$emerald-900:    map.get($emeralds, 900)    !default;
$emerald-950:    map.get($emeralds, 950)    !default;
$green-50:       map.get($greens, 50)       !default;
$green-100:      map.get($greens, 100)      !default;
$green-200:      map.get($greens, 200)      !default;
$green-300:      map.get($greens, 300)      !default;
$green-400:      map.get($greens, 400)      !default;
$green-500:      map.get($greens, 500)      !default;
$green-600:      map.get($greens, 600)      !default;
$green-700:      map.get($greens, 700)      !default;
$green-800:      map.get($greens, 800)      !default;
$green-900:      map.get($greens, 900)      !default;
$green-950:      map.get($greens, 950)      !default;
$lime-50:        map.get($limes, 50)        !default;
$lime-100:       map.get($limes, 100)       !default;
$lime-200:       map.get($limes, 200)       !default;
$lime-300:       map.get($limes, 300)       !default;
$lime-400:       map.get($limes, 400)       !default;
$lime-500:       map.get($limes, 500)       !default;
$lime-600:       map.get($limes, 600)       !default;
$lime-700:       map.get($limes, 700)       !default;
$lime-800:       map.get($limes, 800)       !default;
$lime-900:       map.get($limes, 900)       !default;
$lime-950:       map.get($limes, 950)       !default;
$yellow-50:      map.get($yellows, 50)      !default;
$yellow-100:     map.get($yellows, 100)     !default;
$yellow-200:     map.get($yellows, 200)     !default;
$yellow-300:     map.get($yellows, 300)     !default;
$yellow-400:     map.get($yellows, 400)     !default;
$yellow-500:     map.get($yellows, 500)     !default;
$yellow-600:     map.get($yellows, 600)     !default;
$yellow-700:     map.get($yellows, 700)     !default;
$yellow-800:     map.get($yellows, 800)     !default;
$yellow-900:     map.get($yellows, 900)     !default;
$yellow-950:     map.get($yellows, 950)     !default;
$amber-50:       map.get($ambers, 50)       !default;
$amber-100:      map.get($ambers, 100)      !default;
$amber-200:      map.get($ambers, 200)      !default;
$amber-300:      map.get($ambers, 300)      !default;
$amber-400:      map.get($ambers, 400)      !default;
$amber-500:      map.get($ambers, 500)      !default;
$amber-600:      map.get($ambers, 600)      !default;
$amber-700:      map.get($ambers, 700)      !default;
$amber-800:      map.get($ambers, 800)      !default;
$amber-900:      map.get($ambers, 900)      !default;
$amber-950:      map.get($ambers, 950)      !default;
$orange-50:      map.get($oranges, 50)      !default;
$orange-100:     map.get($oranges, 100)     !default;
$orange-200:     map.get($oranges, 200)     !default;
$orange-300:     map.get($oranges, 300)     !default;
$orange-400:     map.get($oranges, 400)     !default;
$orange-500:     map.get($oranges, 500)     !default;
$orange-600:     map.get($oranges, 600)     !default;
$orange-700:     map.get($oranges, 700)     !default;
$orange-800:     map.get($oranges, 800)     !default;
$orange-900:     map.get($oranges, 900)     !default;
$orange-950:     map.get($oranges, 950)     !default;
$red-50:         map.get($reds, 50)         !default;
$red-100:        map.get($reds, 100)        !default;
$red-200:        map.get($reds, 200)        !default;
$red-300:        map.get($reds, 300)        !default;
$red-400:        map.get($reds, 400)        !default;
$red-500:        map.get($reds, 500)        !default;
$red-600:        map.get($reds, 600)        !default;
$red-700:        map.get($reds, 700)        !default;
$red-800:        map.get($reds, 800)        !default;
$red-900:        map.get($reds, 900)        !default;
$red-950:        map.get($reds, 950)        !default;
$warm-gray-50:   map.get($warm-grays, 50)   !default;
$warm-gray-100:  map.get($warm-grays, 100)  !default;
$warm-gray-200:  map.get($warm-grays, 200)  !default;
$warm-gray-300:  map.get($warm-grays, 300)  !default;
$warm-gray-400:  map.get($warm-grays, 400)  !default;
$warm-gray-500:  map.get($warm-grays, 500)  !default;
$warm-gray-600:  map.get($warm-grays, 600)  !default;
$warm-gray-700:  map.get($warm-grays, 700)  !default;
$warm-gray-800:  map.get($warm-grays, 800)  !default;
$warm-gray-900:  map.get($warm-grays, 900)  !default;
$warm-gray-950:  map.get($warm-grays, 950)  !default;
$true-gray-50:   map.get($true-grays, 50)   !default;
$true-gray-100:  map.get($true-grays, 100)  !default;
$true-gray-200:  map.get($true-grays, 200)  !default;
$true-gray-300:  map.get($true-grays, 300)  !default;
$true-gray-400:  map.get($true-grays, 400)  !default;
$true-gray-500:  map.get($true-grays, 500)  !default;
$true-gray-600:  map.get($true-grays, 600)  !default;
$true-gray-700:  map.get($true-grays, 700)  !default;
$true-gray-800:  map.get($true-grays, 800)  !default;
$true-gray-900:  map.get($true-grays, 900)  !default;
$true-gray-950:  map.get($true-grays, 950)  !default;
$gray-50:        map.get($grays, 50)        !default;
$gray-100:       map.get($grays, 100)       !default;
$gray-200:       map.get($grays, 200)       !default;
$gray-300:       map.get($grays, 300)       !default;
$gray-400:       map.get($grays, 400)       !default;
$gray-500:       map.get($grays, 500)       !default;
$gray-600:       map.get($grays, 600)       !default;
$gray-700:       map.get($grays, 700)       !default;
$gray-800:       map.get($grays, 800)       !default;
$gray-900:       map.get($grays, 900)       !default;
$gray-950:       map.get($grays, 950)       !default;
$cool-gray-50:   map.get($cool-grays, 50)   !default;
$cool-gray-100:  map.get($cool-grays, 100)  !default;
$cool-gray-200:  map.get($cool-grays, 200)  !default;
$cool-gray-300:  map.get($cool-grays, 300)  !default;
$cool-gray-400:  map.get($cool-grays, 400)  !default;
$cool-gray-500:  map.get($cool-grays, 500)  !default;
$cool-gray-600:  map.get($cool-grays, 600)  !default;
$cool-gray-700:  map.get($cool-grays, 700)  !default;
$cool-gray-800:  map.get($cool-grays, 800)  !default;
$cool-gray-900:  map.get($cool-grays, 900)  !default;
$cool-gray-950:  map.get($cool-grays, 950)  !default;
$blue-gray-50:   map.get($blue-grays, 50)   !default;
$blue-gray-100:  map.get($blue-grays, 100)  !default;
$blue-gray-200:  map.get($blue-grays, 200)  !default;
$blue-gray-300:  map.get($blue-grays, 300)  !default;
$blue-gray-400:  map.get($blue-grays, 400)  !default;
$blue-gray-500:  map.get($blue-grays, 500)  !default;
$blue-gray-600:  map.get($blue-grays, 600)  !default;
$blue-gray-700:  map.get($blue-grays, 700)  !default;
$blue-gray-800:  map.get($blue-grays, 800)  !default;
$blue-gray-900:  map.get($blue-grays, 900)  !default;
$blue-gray-950:  map.get($blue-grays, 950)  !default;

////////////////////////////////////////////////////////////////////////////////

$shadows: (
	inner: (inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)),
	px:    (0 0 0 1px rgba(0, 0, 0, 0.05)),
	xs:    (0 1px 2px 0 rgba(0, 0, 0, 0.05)),
	sm:    (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)),
	md:    (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)),
	lg:    (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)),
	xl:    (0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)),
	2xl:   (0 25px 50px -12px rgba(0, 0, 0, 0.25)),
) !default;

$shadow-inner: map.get($shadows, inner) !default;
$shadow-px:    map.get($shadows, px)    !default;
$shadow-xs:    map.get($shadows, xs)    !default;
$shadow-sm:    map.get($shadows, sm)    !default;
$shadow-md:    map.get($shadows, md)    !default;
$shadow-lg:    map.get($shadows, lg)    !default;
$shadow-xl:    map.get($shadows, xl)    !default;
$shadow-2xl:   map.get($shadows, 2xl)   !default;

////////////////////////////////////////////////////////////////////////////////

$timing-functions: (
	linear:      linear,
	ease-in:     cubic-bezier(0.4, 0, 1, 1),
	ease-out:    cubic-bezier(0, 0, 0.2, 1),
	ease-in-out: cubic-bezier(0.4, 0, 0.2, 1),
) !default;

$linear:      map.get($timing-functions, linear)      !default;
$ease-in:     map.get($timing-functions, ease-in)     !default;
$ease-out:    map.get($timing-functions, ease-out)    !default;
$ease-in-out: map.get($timing-functions, ease-in-out) !default;

////////////////////////////////////////////////////////////////////////////////

$breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
) !default;

$sm: map.get($breakpoints, sm) !default;
$md: map.get($breakpoints, md) !default;
$lg: map.get($breakpoints, lg) !default;
$xl: map.get($breakpoints, xl) !default;
