@use "sass:map";

$configuration: (
  a: "Hello, world!",
  b: "foo",
  c: "foo bar",
) !default;

$a: map.get($configuration, "Hello, world!");
$b: map.get($configuration, "foo");
$c: map.get($configuration, "foo bar");

@mixin configure($conf) {
  @include map.deep-merge($configuration, $conf);
}
