@use "../../duomo" as *;
@use "vars" as *;

.css-search-bar-input {
	font: rem(20) / 1 $ui-sans;
	color: $gray-800;
	&:focus {
		outline: none;
	}
}

.css-search-bar-svg {
	color: $gray-800;
	transition: $leave-ms $ease-out;
	.css-search-bar:focus-within & {
		color: $blue-600;
		transition: $enter-ms $ease-out;
	}
}
